<div ng-if="added.title" class="alert alert-success" role="alert">
  <strong>Hunt for {{added.title}} added</strong>
</div>

<form name="form">
  <div class="form-group">
    <label>Title <span class="required">*</span></label>
    <input class="form-control" type="text" ng-model="newHunt.title" required>
  </div>

  <div class="form-group">
    <label>Keyword <span class="required">*</span></label>
    <input class="form-control" type="text" ng-model="newHunt.include" required>
  </div>

  <div class="form-group">
    <label>Exclude keyword</label>
    <input class="form-control" type="text" ng-model="newHunt.exclude">
  </div>

  <div class="form-group">
    <label>Max Price</label>
    <input class="form-control" type="number" ng-model="newHunt.maxPrice">
  </div>



  <div class="form-group">
    <label>Location (e.g. uusimaa) <span class="required">*</span></label>
    <input class="form-control" type="text" ng-model="newHunt.location" required>
  </div>

  <div class="form-group">
    <label>Category (e.g. viihde-elektroniikka or pyoraily_ja_tarvikkeet) <span class="required">*</span></label>
    <input class="form-control" type="text" ng-model="newHunt.category" required>
  </div>


  <div class="form-group">
    <label>
      <input type="checkbox" ng-model="newHunt.hasPrice">
      Has Price
    </label>
  </div>

  <button class="btn btn-success" ng-click="beginHunt()" ng-disabled="form.$invalid">{{form.$invalid ? 'Fill in the required fields' : 'Let the hunt begin'}}</button>
</form>
